#div1{
    border: 1px solid red;
    padding: 10px;
    margin-bottom : 25px;
    margin: 125px
}


#div2{
    border: 1px solid black;
    padding: 100px;
}



img{
    width: 750px;
    height: 500px;

}
