body{
    height: 600px;
    border: 1px solid black;
}

.container{
    height: 600px;
    border: 1px solid #bba3cd;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    /* grid-template-columns: 25% 25% 25% 25%; */

    grid-template-rows: auto;
    /* grid-template-rows: 50px 50px; */

    column-gap: 10px;
     /* columm gap: utilizo para inserir um espaço entre as colunas */

    row-gap: 10px;
    /* row gap: utilizo para inserir espaço entre linhas */

    justify-items: center;
    /* Justifica na horinzontal */

    align-items: center;
    /* Justifica na vertical */

    justify-content: space-evenly;
    /* mover o container na horizontal */

    align-content: space-evenly;
    /* mover o container na vertical */

    
}

#Item1{
    grid-column: 1 / 3;
    /* referente as linhas verticais */
    grid-row: 1 / 3;
    /* referente as linhas horizontais */
    
}

.Itens{
    width: 100%;
    height: 100%;
    border: 1px solid #6e9f66;
    font-size: 150%;
}