body{font-family: roboto mono, monospace;
    font-weight: 700;
    background-color: #b3e9f3;

    background-image: url("squid-game-imagem-destacada.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

title{
    background-color: #6590d1;
    text-shadow: 3px 3px #48789f;
}